#blurb { margin:1ex 2ex;}

.thumb {display:block; width:122px; height:122px; float:left; background:center no-repeat;}
form {display:inline;}
input {display:inline;}

#header{ height:1.5em; line-height:1.5em;}
html { font-size:1.3em; font-family:helvetica; min-width:750px;}
.halfcols {-moz-column-width:35ex; margin:2ex;}
.halfcols p {margin-right:0; margin-left:0;}
#userinfo {position:absolute; right:0; top:0; height:1.5em;}
input, select {font-size:inherit; font-family:inherit;}
#header input{ border:none;}

#home, #current, #settings, #logout-form, #login-form {
  padding:0 2ex 0 2ex; display:inline-block; height:100%;  vertical-align:top; font-weight:bold; border-bottom:5px solid;}
#home {  margin-right:1.5ex; font-weight:bold; }
#current { padding:0 2ex 0 0;  font-size:1em;  margin-right:2ex;}
#settings { margin:0 0 0 1.5ex; padding:0 1ex;}

#logout, #login {height:100%; margin:0; border-bottom:none; padding:0 1ex; font-weight:bold; }
#logout {width:100%;}
#logout-form {padding:0;}
#openid_identifier {padding:.5ex .4ex .3ex 1.5ex;  margin:0; display:inline-block; vertical-align:top; color:black; width:35ex}
#login { margin-left:-.5ex;}
#__idselector_button {display:none;}
#login-form, #logout-form {padding:0;}

.page {border:1px solid #ff7c00; padding:.1ex .5ex 0;}
.this.page {background-color:#ff7c00; color:white;}
.pages {text-align:center; margin:1ex;}
.disabled.page {color:lightgray; border:none;}

.emadr {vertical-align:-25%;}
p, ul, .gallery {margin:2ex;}


/* colors */
a {color:#ff7c00; text-decoration:none;}
h2 {background-color:#00808d; color:white; margin:1ex 0 !important; text-align:center; padding-top:.2ex;}
#home, #settings {background-color:#00808d;border-bottom-color: #ff7c00;}
#current {background-color:#003399; border-bottom-color:#c60000;}
#header {background-color:#660099; border-bottom:5px solid #00808d; color:white;}
#logout, #login {background-color:#003399; color:red;}
#logout-form, #login-form{border-color:#c60000}
#openid_identifier {background-color:#D5CCFF; }

/* corners -- should add the props for other browsers */
#home, #current {-moz-border-radius:0 1ex 0 0; -webkit-border-top-right-radius:1ex;}
#settings { -moz-border-radius:1ex 0 0 1ex; -webkit-border-top-left-radius:1ex; -webkit-border-bottom-left-radius:1ex;}
#openid_identifier {-moz-border-radius:1ex 0 0 0; -webkit-border-top-left-radius:1ex;}
