<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}ArtScraper{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <!--<script type="text/javascript" src="/static/jquery.js"></script>-->
  {% block head_extras %}{% endblock %}
</head>

<body>
<div id="header">

# block breadcrumbs
<a href="/" id="home">ArtScraper</a>
# endblock

<div id="userinfo">
# if you
logged in as {{you|you_link}} 
<a href="/settings" id="settings">settings</a><form method="post" action="/login" id="logout-form"><input type="hidden" name="return_to" value="/settings"><input type="hidden" name="action" value="logout" /><input type="submit" value="Log Out" id="logout"></form>
# else
<form method="post" action="/login" id="login-form"><input type="text" name="openid" id="openid_identifier"/><input type="submit" id="login" value="Log In"></form>
<script type="text/javascript" id="__openidselector" src="https://www.idselector.com/selector/ddb6106634870c12617f13ab740aa8f24b723b56" charset="utf-8"></script>
# endif
</div>
</div> 
<div id="content"> 
  {% block content %}
    Nothing to see here
  {% endblock content %}
</div>
</body>
</html>