# extends "base.html"

# block breadcrumbs
<span id="current">{{super()}} Users</span>
# endblock


# block content
<p id="blurb">Welcome to ArtScraper, a simple service designed to help you build one big thumbnail library for all the art you post online.
  Currently we support <a href="http://furaffinity.net">FurAffinity</a> and <a href="http://artspots.com">Artspots</a>.
  To make a gallery of your own, just log in with your favorite <a href="http://openid.net/get/">OpenID provider</a>.
  <br><a href="/stuff">Tell me more...</a>
  
</p>
<h2>Users</h2>
<ul>
# for user in users
<li><a href="{{user|user_url}}">{{user.name}}</a></li>
# endfor
</ul>
# endblock