# extends "base.html"

# block breadcrumbs
<span id="current">{{super()}} Users</span>
# endblock


# block content
<ul>
<p id="blurb">Welcome to ArtScraper, a simple service designed to build one big thumbnail library for all the art you post online, 
  be it on <a href="http://furaffinity.net">FurAffinity</a>, <a href="http://artspots.com">Artspots</a>, or your own personal website (coming soon).
  <a href="/credits">more...</a>
  
</p>
<h2>Users</h2>
# for user in users
<li><a href="{{user|user_url}}">{{user.name}}</a></li>
<img src="{{user.thumb}}">
# endfor
</ul>
# endblock